*/5 * * * * phpuser php /var/www/html/scripts/cleanup.php >> /var/log/cron/cron.log 2>&1
* * * * * root /usr/local/bin/test_cron.sh >> /var/log/cron/test_cron.log 2>&1
*/10 * * * * www-data php /var/www/yii update/repositories >> /var/www/.docker/logs/cron/update_repositories.log 2>&1
